@import "../variables.scss";

.my-tile.c-grid__item {
  background: beige;
}

.train-grid {
  display: grid;
  margin: 25px auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0;
  width: 35%;
  position: relative;
  aspect-ratio: 1/1;
  animation: move-grid 16.6s linear;
}

@keyframes move-grid {
  0% {
    transform: translateX(2037px);
  }
  100% {
    transform: translateX(0);
  }
}