<style lang="scss">
  @import '/src/components/header/header.component.scss';
</style>
<header class="center">
    <div class="mountains"></div>
    <div class="frame">
      <div class="train">
        
        <div class="engine-front">
          <h1>IMTrain</h1>
          <div class="chimney">
            <div class="smoke"></div>
            <div class="smoke smoke-2"></div>
            <div class="smoke smoke-3"></div>
            <div class="smoke smoke-4"></div>
          </div>
        </div>
  
        <div class="engine-body">
          
        </div>
  
        <div class="compartment">
          <div class="compartment-window"></div>
        </div>
  
        <div class="compartment compartment-two">
          <button class="btn-play" (click)="play()">Play</button>
          <div class="compartment-window"></div>
        </div>
  
        <div class="compartment compartment-three">
          <div class="compartment-window"></div>
        </div>
  
        <div class="wheel-holder">
          <div class="wheel"></div>
          <div class="wheel wheel-2">
            <div class="wheel-joint"></div>
            <div class="wheel-joint wheel-joint-2"></div>
          </div>
          <div class="wheel wheel-3"></div>
          <div class="wheel wheel-4"></div>
          <div class="wheel wheel-5"></div>
          <div class="wheel wheel-6"></div>
          <div class="wheel wheel-7"></div>
          <div class="wheel wheel-8"></div>
          <div class="wheel wheel-9"></div>
          <div class="wheel wheel-10"></div>
          <div class="wheel wheel-11"></div>
        </div>
      </div>
    </div>
  </div>
     <!-- <h1>TrainMod</h1>
     <button class="btn-play" (click)="play()">Play</button> -->