<div class="c-side-menu__header">
  <h1 class="c-side-menu__header__title">Tchou-train</h1>
  <img src="assets/img/logo.png" alt="logo" class="c-side-menu__header__logo">
</div>

<nav role="button" class="c-side-menu__item">
  <input type="checkbox" href="#" class="menu-open" name="menu-tree" id="menu-tree" />
  <label for="menu-tree" class="c-side-menu__item__img menu-open-button">
    <span class="lines"></span>
    <span class="lines"></span>
    <img src="assets/img/tree.png" alt="tree image" class="image">
  </label>

  <a href="#" id="tree-TREE" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/tree.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="tree-TREE" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/tree.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="tree-TREE" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/tree.png" class="c-side-menu__item__img" alt="tree image">
  </a>
</nav>

<nav role="button" class="c-side-menu__item">
  <input type="checkbox" href="#" class="menu-open" name="menu-rail" id="menu-rail" />
  <label for="menu-rail" class="c-side-menu__item__img menu-open-button">
    <span class="lines"></span>
    <span class="lines"></span>
    <img src="assets/icons/rail.svg" alt="rail image" class="image">
  </label>
  <div hidden></div>

  <a href="#" id="rail-VERTICAL" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/VERTICAL.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="rail-HORIZONTAL" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/HORIZONTAL.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="rail-TURN_LEFT" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/TURN-LEFT.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="rail-TURN_RIGHT" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/TURN-RIGHT.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="rail-TURN_REVERSE_LEFT" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/TURN-REVERSE-LEFT.png" class="c-side-menu__item__img" alt="tree image">
  </a>
  <a href="#" id="rail-TURN_REVERSE_RIGHT" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/TURN-REVERSE-RIGHT.png" class="c-side-menu__item__img" alt="tree image">
  </a>
</nav>

<nav role="button" class="c-side-menu__item">
  <input type="checkbox" href="#" class="menu-open" name="menu-house" id="menu-house" />
  <label for="menu-house" class="c-side-menu__item__img menu-open-button">
    <span class="lines"></span>
    <span class="lines"></span>
    <img src="assets/icons/house.svg" alt="house image" class="image">
  </label>

  <a href="#" id="house-HOUSE" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/HOUSE.png" class="c-side-menu__item__img" alt="house image">
  </a>
  <a href="#" id="house-HOUSE" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/HOUSE.png" class="c-side-menu__item__img" alt="house image">
  </a>
  <a href="#" id="house-HOUSE" role="button" class="menu-item" rel="noopener noreferrer">
    <img src="assets/img/HOUSE.png" class="c-side-menu__item__img" alt="house image">
  </a>
</nav>
<div id="clearButton" class="c-side-menu__item hidden">
  <div class="c-side-menu__item__img menu-open-button">
    <span class="lines close"></span>
    <span class="lines close"></span>
  </div>
</div>