@import "./components/grid.scss";
@import "./components/sideMenu.scss";

@import "variables.scss";

body {
  margin: 0;
  background-color: $background-color;
}

h1 {
  color: $main-color;
}

img {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  :nth-child(2) {
    flex: 1;
  }
}

.hidden {
  display: none;
}