/* Color Theme Swatches in Hex */
$background-color: #D9D8D7;
$black-color: #0D0D0D;
$main-color: #BF5454;
$on-main-color: $background-color;
$main-accent-color: #823030;
$secondary-color: #594A3C;
$on-secondary-color: $background-color;
$tertiary-color: #A6998F;
$on-tertiary-color: #0D0D0D;