<div class="submenu-wrap">
  <div class="submenu submenu__rail_droit hidden">
    <div class="entry submenu__rail"></div>
    <div class="entry submenu__rail"></div>
    <div class="entry submenu__rail"></div>
    <div class="entry submenu__rail"></div>
  </div>

  <div class="menu-wrap">
    <div class="entry menu-wrap__item rail-droit"></div>
    <div class="entry menu-wrap__item left"></div>
    <div class="entry menu-wrap__item bottom"></div>
    <div class="entry menu-wrap__item right"></div>
  </div>
</div>